
%table{:id => 'edit_rsvp_form', :class => 'form_table'}
  %tr
    %th Name:
    %td= r.text_field :name
  %tr
    %th Email Address:
    %td= r.text_field :email
  %tr
    %th Company Name:
    %td= r.text_field :company
  %tr
    %th{:class => 'vtop pt10'} Additional Attendee Names:
    %td{:id => 'attendee_names'}
      - if @rsvp.attendees == 1
        = render_attendee_row
      - else
        - @rsvp.attendee_names.each do |name|
          = render_attendee_row(name)
  %tr
    %td
    %td
      = submit_tag 'Update Registration', :style => 'width:auto;'
      = button_to_link 'Reset', mine_rsvp_path(:id => @rsvp.slug), :style => 'width:auto;'


= dom_loaded 'window.reservationForm = new ReservationForm();'

