

%div{:class => 'floatr right'}
  = button_to 'Send Rsvp Reminders', send_reminders_rsvps_path
  = button_to 'Send Upcoming Reminders', send_upcoming_reminders_rsvps_path

%h1 RSVPs

%ul  
  %li
    There are 
    = content_tag :strong, Rsvp.count
    RSVPs, of which 
    = content_tag :strong, Rsvp.count(:conditions =>{:reserved => true})
    are reserved.
  %li
    There are a total of 
    = content_tag :strong, Rsvp.attendees
    registered attendees.

%table.data_table
  %tr
    %th #
    %th Name &amp; Email
    %th Company
    %th Attendees
    %th Reserved
    %th Survey
    %th Actions
  - @rsvps.each_with_index do |r,i|
    %tr{:class => cycle('even','odd')}
      %td{:class => 'bold fs14'}= i+1
      %td= r.name + '<br />' + mail_to(r.email)
      %td= r.company
      %td= r.attendees
      %td= image_tag('/images/layout/good.png') if r.reserved?
      %td= link_to(image_tag('/images/layout/good.png'),survey_rsvp_path(r)) if r.survey.present?
      %td{:class => 'nowrap'}
        = link_to '[Edit]', edit_rsvp_path(r)
        - if Rails.env.development?
          = link_to '[Destroy]', rsvp_path(r), :method => :delete, :confirm => "Are you sure you want to delete #{r.name}'s reservation?"


