
%h1 Presentations/Talks

/ Andy Hunt

%div{:class => 'mb30'}

  - link_to site_path(:presenters,:anchor => 'andy_hunt') do
    = image_tag 'content/andy_hunt.jpg', :width => 150, :class => 'presenter floatl mr30 brd5', :alt => 'Andy Hunt'

  %h2 Pragmatic Thinking and Learning: <br/>Refactor Your Wetware
  %ul{:class => 'presenter_info floatr'}
    = info_link :more_info, site_path(:presenters,:anchor => 'andy_hunt')
  %h3 Andy Hunt
  %h4 Author &amp; Co-Founder Pragmatic Bookshelf

  %p
    = image_tag 'content/left_right.png', :width => 190, :class => 'floatr ml10', :alt => 'Pragmatic Thinking and Learning: Refactor Your Wetware'
    Software development happens in your head; not in an editor, IDE, or design tool. 
    We're well educated on how to work with software and hardware, but what about 
    wetware – our own brains?

  %p
    Join Andy Hunt for a look at how the brain really works and how to think differently 
    about thinking. You'll get a brief recap of the Dreyfus Model (from his popular talk 
    "Herding Racehorses and Racing Sheep") and explore practical learning techniques 
    including mind maps, reading techniques, and situational feedback. We'll also examine 
    how to best cope with the literal torrent of new information that assaults each of us, 
    using methods ranging from the tried-and-true to the truly exotic.


/ Clinton Nixon

%div{:class => 'mb30'}

  - link_to site_path(:presenters,:anchor => 'clinton_nixon') do
    = image_tag 'content/clinton_nixon.jpg', :width => 220, :class => 'presenter floatl mr30 brd5', :alt => 'Clinton Nixon'

  %h2 The Joy of Ruby
  %ul{:class => 'presenter_info floatr'}
    = info_link :more_info, site_path(:presenters,:anchor => 'clinton_nixon')
  %h3 Clinton R. Nixon
  %h4 Development Director at Viget Labs

  %p
    Yukihiro Matsumoto, the creator of Ruby, has summed up Ruby's
    philosophy as "Ruby is designed to make programmers happy." How can
    that happiness cut your development time, reduce your defects, and
    work closer with your customers?

  %p
    In this talk, Clinton will cover both the Ruby language and the
    community of developers behind it. He will walk through an introduction to the
    Ruby programming language and then show how the common values of the
    Ruby community tie in with the values of agile development. You will learn
    why the team at 
    = link_to 'Viget', 'http://www.viget.com/'
    chose Ruby as their development platform and
    why you might want to consider doing the same.


/ Jamie Pinkham

%div{:class => 'mb50'}

  - link_to site_path(:presenters,:anchor => 'jamie_pinkham') do
    = image_tag 'content/jamie_pinkham.jpg', :width => 150, :class => 'presenter floatl mr30 brd5', :alt => 'Jamie Pinkham'

  %h2 iPhone Development: <br/>Touching Cocoa
  %ul{:class => 'presenter_info floatr'}
    = info_link :more_info, site_path(:presenters,:anchor => 'jamie_pinkham')
  %h3 Jamie Pinkham
  %h4 Software Engineer at Mobelux

  %p
    Are you interested in knowing what you will have to learn to build the next 
    big iPhone application? Apple's Objective-C programming language is the 
    building block for all of its APIs, including Cocoa, Apple's name for 
    the collection of frameworks and accompanying runtimes that make up the 
    development layer of Mac OS X and iPhone.
    
  %p 
    Jamie will cover the development tools, programming paradigms and limitations of 
    iPhone development (including the Cocoa Touch API and the Objective-C programming language) 
    at a very abstract level. He will also reveal the mystery of the Objective-C's bracket syntax.



%h1 Organized By

%p
  = image_tag 'content/ken_collins.jpg', :width => 150, :class => 'presenter floatr ml20 brd5', :alt => 'Ken Collins'
  Ken Collins is a local software engineer who specializes in web 2.0 applications 
  based on the Ruby on Rails framework and modern JavaScript libraries. He is the 
  maintainer of the ActiveRecord SQL Server adapter that allows SQL Server 2000, 
  2005 and 2008 to be utilized as a persistent object store for ruby. 

%p
  Ken works for Decisiv Inc, a Richmond based company that provides management solutions 
  for the heavy trunk industry and in his off time he contributes to open source software 
  and heads up the local user groups for Ruby and Objective-C.

%p
  %ul{:class => 'presenter_info floatr'}
    = info_link :blog, 'http://www.metaskills.net/'
    = info_link :twitter, 'http://twitter.com/metaskills'
    = info_link :code, 'http://github.com/metaskills'
    = info_link :linkedin, 'http://www.linkedin.com/in/metaskills'
  - link_to 'http://757objc.org/', :class => 'nobor' do
    = image_tag 'content/757objc.png', :alt => 'Hampton Roads Cocoa/Obj-C Heads'
  &nbsp;
  - link_to 'http://757rb.org/', :class => 'nobor' do
    = image_tag 'content/757rb.png', :alt => 'Hampton Roads Ruby Users Group'














