
%h1 Presenters


/ Andy Hunt

<a name="andy_hunt"></a>

%div.presenter

  = image_tag 'content/pragmatic_programmers_logo.png', :height => 70, :class => 'floatr', :alt => 'Pragmatic Programmers'

  %h2 Andy Hunt
  %h3 Author &amp; Co-Founder Pragmatic Bookshelf

  = image_tag 'content/andy_hunt.jpg', :height => 350, :class => 'presenter floatl mr30', :alt => 'Andy Hunt'
  
  %p
    Andy Hunt is a programmer turned consultant, author and publisher. He has authored both 
    award-winning and best-selling books, including <em>The Pragmatic Programmer</em>, 
    <em>Practices of an Agile Developer</em>, and his newest title <em>Pragmatic Thinking and Learning</em>. 
    
  %ul.presenter_books
    = content_tag :li, link_to('Pragmatic Thinking and Learning: Refactor Your Wetware', 'http://pragprog.com/titles/ahptl/pragmatic-thinking-and-learning')
    = content_tag :li, link_to('The Pragmatic Programmer: From Journeyman to Master', 'http://www.pragprog.com/the-pragmatic-programmer')
    = content_tag :li, link_to('Practices of an Agile Developer', 'http://www.pragprog.com/titles/pad/practices-of-an-agile-developer')
    = content_tag :li, link_to("Programming Ruby: The Pragmatic Programmers' Guide", 'http://www.pragprog.com/titles/ruby/programming-ruby')
    = content_tag :li, link_to('Pragmatic Unit Testing in Java with JUnit', 'http://www.pragprog.com/titles/utj/pragmatic-unit-testing-in-java-with-junit')
    = content_tag :li, link_to('Pragmatic Version Control using CVS', 'http://www.pragprog.com/titles/vcc/pragmatic-version-control-using-cvs')
  
  %p
    Andy was one of the 17 founders of the Agile Alliance and authors of the Agile Manifesto; 
    and co-founded the 
    = link_to('Pragmatic Bookshelf', 'http://pragprog.com/')+','
    publishing award-winning and critically acclaimed 
    books for software developers.

  %ul.presenter_info
    = info_link :info, 'http://pragprog.com/about'
    = info_link :blog, 'http://andy.pragprog.com/'
    = info_link :twitter, 'http://twitter.com/pragmaticandy'



/ Clinton Nixon

<a name="clinton_nixon"></a>

%div.presenter

  = image_tag 'content/viget_labs_logo.png', :height => 70, :class => 'floatr', :alt => 'Viget Labs Logo'

  %h2 Clinton R. Nixon
  %h3 Development Director at Viget Labs

  = image_tag 'content/clinton_nixon.jpg', :width => 400, :class => 'presenter floatl mr30', :alt => 'Clinton Nixon'

  %p
    = link_to 'Viget Labs', 'http://www.viget.com/'
    has been working with web start-ups, mature companies, and non-profits to define 
    effective web strategies, create intuitive user experiences, design elegant interfaces, develop 
    useful applications, market the sites and products we help create, and then measure, analyze, and 
    improve performance. In short, we build web business. Contact us to learn more, or explore career 
    opportunities with our talented team outside Washington, DC, and in Durham, NC.

  %p
    Clinton R. Nixon has been integral in establishing and growing the Durham, NC, office. 
    As the development director of the Lab's Durham office, he institutes Agile development 
    methodologies to deliver RoR-based custom solutions to clients. Clinton, who has more than 
    a decade of experience in the industry, is an enthusiast for test-driven development, 
    esoteric computer languages, and kittens.

  %ul.presenter_info
    = info_link :blog, 'http://crnixon.org/'
    = info_link :linkedin, 'http://www.linkedin.com/in/crnixon'
    = info_link :code, 'http://github.com/crnixon'
    = info_link :twitter, 'http://twitter.com/crnixon'



/ Jamie Pinkham

<a name="jamie_pinkham"></a>

%div.presenter

  = image_tag 'content/mobelux_logo.png', :height => 60, :class => 'floatr', :alt => 'Mobelux Logo'

  %h2 Jamie Pinkham
  %h3 Software Engineer at Mobelux

  = image_tag 'content/jamie_pinkham.jpg', :class => 'presenter floatr ml30', :alt => 'Jamie Pinkham'

  %p
    Jamie Pinkham is a senior developer at 
    = link_to 'Mobelux,', 'http://mobelux.com/'
    the Richmond-based software company behind Tumblr for iPhone and Awards for iPhone. Formerly a .NET 
    developer, he co-founded the Richmond chapter of CocoaHeads where local OS X developers meet and present 
    various topics about Mac development. When he's not hacking on Cocoa, you can find Jamie playing 
    goalie in the Richmond men's ice hockey league.

  %ul.presenter_info
    = info_link :blog, 'http://jamiepinkham.com/'
    = info_link :code, 'http://github.com/jamiepinkham'
    = info_link :twitter, 'http://twitter.com/jamiepinkham'



