
%h1 Presenters



= image_tag 'content/viget_labs_logo.png', :height => 70, :class => 'floatr'

%h2 Clinton R. Nixon
%h3 Development Directory at Viget Labs

= image_tag 'content/clinton_nixon.jpg', :width => 400, :class => 'presenter floatl mr30'

%p
  = link_to 'Viget Labs', 'http://www.viget.com/'
  has been working with web start-ups, mature companies, and non-profits to define 
  effective web strategies, create intuitive user experiences, design elegant interfaces, develop 
  useful applications, market the sites and products we help create, and then measure, analyze, and 
  improve performance. In short, we build web business. Contact us to learn more, or explore career 
  opportunities with our talented team outside Washington, DC, and in Durham, NC.

%p
  Clinton R. Nixon has been integral in establishing and growing the Durham, NC, office. 
  As the development director of the Lab's Durham office, he institutes Agile development 
  methodologies to deliver RoR-based custom solutions to clients. Last year, alongside Viget's Ben 
  Scofield, he competed in the Rails Rumble and created a social calendaring system called Clubhouse.
  Clinton, who has more than a decade of experience in the industry, is an enthusiast for test-driven 
  development, esoteric computer languages, and kittens. 

%ul.presenter_info
  = info_link :blog, 'http://crnixon.org/'
  = info_link :linkedin, 'http://www.linkedin.com/in/crnixon'
  = info_link :code, 'http://github.com/crnixon'
  = info_link :twitter, 'http://twitter.com/crnixon'

