
%h1 The Venue


%p{:class => 'floatr bold right'}
  = image_tag('content/grow_photos.png', :width => 350, :alt => 'Grow Interactive Logo') + '<br/>'
  350 W 22nd St # 106<br/>
  Norfolk, VA 23517-2107<br/>
  = link_to 'Get directions', 'http://maps.google.com/maps?client=safari&rls=en&oe=UTF-8&um=1&ie=UTF-8&q=grow+interactive+norfolk&fb=1&gl=us&hq=grow+interactive&hnear=norfolk&cid=0,0,4492642276965120035&ei=vnTBSs7-JYiC8QadopWOBg&sa=X&oi=local_result&ct=image&resnum=1'

%p
  First, thanks to Drew Ungvarsky and all the other great folks at 
  = link_to('Grow Interactive','http://www.thisisgrow.com/')+','
  for letting us use their offices for the premier 757Studio event series. 

%p{:class => 'mb30'}
  Food and drinks will be available. Laptops are welcome however we are not sure
  if Wifi will be available. If you use the Google maps street view link, keep in 
  mind that Palace Shops were not built at the time of Google's drive by. So that 
  gravel area is indeed the right spot. If you have any other questions, please 
  do not contact Grow, send us an email instead.
  = mail_to 'info@757studio.org'

%h3 Schedule (Thursday, Nov. 5th)

= render_schedule

