
%h1 Who Should Attend


/ Andy
  
%div{:class => 'mb30'}
  
  = image_tag '/images/content/wsa_andy.png', :class => 'floatr'

  %h3 
    Interested in Andy's talk?<br/>
    Here is an abstract from the introduction of his book on the matter.

  %p 
    We're going to begin to refactor your wetware—redesign and rewire your 
    brain - to make you more effective at your job. Whether you're a programmer, 
    manager, "knowledge worker", technogeek, or deep thinker, or if you just 
    happen to have a human brain you'd like to crank up.

  %p
    I'm a programmer, so my examples and rants will be directed at the world 
    of software development. If you're not a programmer, don't worry; programming really 
    has little to do with writing software in arcane, cryptic languages (although we 
    have a curious attachment to that habit).

  %p  
    <strong>What Are Agile Methods?</strong>
    The term agile methods was coined at a summit meeting in February 2001 by seventeen 
    leaders in software development, including the founders of various development 
    methodologies such as Extreme Programming, Scrum, Crystal, and, of course, our very 
    own pragmatic programming. Agile methods differ from traditional plan-based methods 
    in a number of significant ways, most notably in eschewing rigid rules and discarding 
    dusty old schedules in favor of adapting to real-time feedback. I'll talk about agile 
    methods often, because many of the agile ideas and practices fit in well with good 
    cognitive habits.
  


/ Clinton

%div{:class => 'mb30'}

  %h3
    Interested in Clinton's talk?<br/>
    Perhaps your an Ad/Interactive Agency, Web Shop or 
    other type of business that utilizes the internet?
  
  = image_tag '/images/content/wsa_agile_webdev.png', :class => 'floatr'
    
  %p{:class => 'bold'}
    Here is an except from 
    = link_to '<em>Agile Web Development with Rails</em>', 'http://www.pragprog.com/titles/rails3/agile-web-development-with-rails-third-edition'
    which can be found on the Pragmatic Bookshelf or at your local bookseller.

  %p
    Ruby on Rails is a framework that makes it easier to develop, deploy, and maintain 
    web applications. During the months that followed its initial release, Rails went 
    from being an unknown toy to being a worldwide phenomenon. It has won awards, and, 
    more important, it has become the framework of choice for the implementation of a 
    wide range of so-called Web 2.0 applications. It isn’t just trendy among hard-core 
    hackers; many multinational companies are using Rails to create their web applications.

  %p
    Why is that? There seem to be many reasons. 

  %p 
    First, a large number of developers were frustrated with the technologies they were 
    using to create web applications. It didn’t seem to matter whether they were using 
    Java, PHP, or .NET—there was a growing sense that their job was just too damn hard. 
    And then, suddenly, along came Rails, and Rails was easier. But easy on its own doesn't 
    cut it. We're talking about professional developers writing real-world websites. They 
    wanted to feel that the applications they were developing would stand the test of 
    time—that they were designed and implemented using modern, professional techniques. 
    So, these developers dug into Rails and discovered it wasn't just a tool for hacking 
    out sites.


/ Jamie

%div{:class => 'mb30'}

  %h3
    Interested in Jamie's talk?<br/>
    Perhaps you want to get rich from your own idea? Maybe 
    you've been asked to develop an app as part of an ad 
    campaign?
  
  = image_tag '/images/content/wsa_iphone.png', :class => 'floatr'
  
  %p{:class => 'bold'}
    Here is an abstract from 
    = link_to '<em>iPhone SDK Development</em>', 'http://www.pragprog.com/titles/amiphd/iphone-sdk-development'
    which can be found on the Pragmatic Bookshelf or at your local bookseller.
  
  %p
    The iPhone has changed everything.
  
  %p
    Maybe by the time you read this you'll no longer notice that the latest cool new phone 
    from every manufacturer now looks and behaves more like the iPhone than like the models 
    they used to sell before the iPhone was released. Meanwhile, at the time we write this, 
    Apple's iPhone ads showcase the apps that you and other third party developers are 
    creating. The Apple marketing campaign is highlighting the iPhone as a platform for 
    great software—software that you will create.








