!!! strict

%html{html_attrs}

  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    = stylesheet_link_tag :all, :recursive => true
    = javascript_include_tag :all, :recursive => true

  %body

    #masthead
      #brick_tile
        #brick_main
      #nav_tile
      #masthead_cntarea
        #masthead_cnt
          #logo
          #event_info
            On <strong>November 5th, 2009</strong> Hampton Roads' premier learning and network 
            event for software developers, interactive agencies, and technology entrepreneurs will 
            be held at <strong>Grow Interactive, Norfolk</strong>.
          %ul#nav_items
            = top_nav 'Home'
            = top_nav 'Who Should Attend'
            = top_nav 'Presenters'
            = top_nav 'Sponsors'

    #content
      #nav_shadow
      #content_left
        = yield
      #content_right
        
