!!! strict

%html{html_attrs}

  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %title= params[:page] ? "757 Studio - #{params[:page].titleize}" : '757 Studio'
    = stylesheet_link_tag :all, :recursive => true
    = javascript_include_tag 'prototype', 'effects', 'builder', 'application', :cache => 'studio'
    = javascript_tag 'Builder.dump();'
    %script{:src => '/mint/index.php?js', :type => 'text/javascript'}
  
  %body

    #masthead
      #brick_tile
        #brick_main
      #nav_tile
      #masthead_cntarea
        #masthead_cnt
          #logo
          #event_info
            On <strong>November 5th, 2009</strong> Hampton Roads' premier learning and network 
            event for software developers, interactive agencies, and technology entrepreneurs will 
            be held at <strong>Grow Interactive, Norfolk</strong>.
          = top_nav
          #tiptop_email
            = mail_to 'info@757studio.org', 'EMAIL: info@757studio.org'
          #tiptop_other

    #content
    
      #nav_shadow
      #content_left
        - [:good,:bad,:indif].each do |fk|
          %div{:class => "flash_#{fk}", :style => "display:#{flash[fk].blank? ? 'none' : 'block'};"}
            %span= flash[fk]
        = yield
      
      #content_right
        #rsvp_stuff{:style => "display:#{current_rsvp && current_rsvp.reserved? ? 'none' : 'block'};"}
          .flash_alert{:style => "display:#{Rsvp.open_seats? ? 'none' : 'block'};"}
            All seats reserved! Use the RSVP form to be placed on the waiting list. Follow us on Twitter for updates.
          #rsvp_button{:style => "display:#{current_rsvp && !current_rsvp.reserved? ? 'none' : 'block'};"}
          .flash_indif{:style => "display:#{current_rsvp && !current_rsvp.reserved? && !session[:toggled_reservation] ? 'block' : 'none'};", :id => 'rsvp_flash_indif'}
            Please verify your reservation by clicking the link contained in 
            the email we sent to you at: <strong id="your_rsvp_email">
            = current_rsvp.try(:email)
            </strong>
            - if current_rsvp
              %div{:class => 'mt5 right'}
                = link_to '[remove message]', clear_rsvp_path(current_rsvp), :method => :put
          #rsvp_text
            ATTENDANCE IS FREE!<br/>
            Space is limited to 
            = Rsvp::MAX_SEATS
            seats and<br/>
            is first come, first served.<br/> 
            RSVP now and reserve yours!
          #rsvp_form{:style => 'display:none;'}
            .flash_bad{:style => 'display:none;', :id => 'rsvp_flash_bad'}
            - form_for @rsvp do |f|
              %table.form_table
                %tr
                  %th Name
                  %td= f.text_field :name
                %tr
                  %th Company
                  %td= f.text_field :company
                %tr
                  %th Email
                  %td= f.text_field :email
                %tr
                  %th Attendees
                  %td= f.select :attendees, Rsvp::ATTENDEE_RANGE
                %tr
                  %th
                  %td{:class => 'vmiddle_all'}
                    = submit_tag 'RSVP Now', :id => 'rsvp_submit'
                    %input{:type => 'button', :value => 'Cancel', :id => 'rsvp_cancel'}
                    = image_tag '/images/layout/loading_invert.gif', :id => 'rsvp_loading', :style => 'display:none;'
        
        #schedule
          %h5 Schedule
          #schedule_date November 5th, 2009
          = render_schedule(false)
        
        #twitterfollow
          - link_to 'http://twitter.com/757studio' do
            = image_tag '/images/layout/follow_757studio_on_twitter.png', :class => 'nobor', :alt => 'Follow 757Studio On Twitter'
          
        #sponsors
        
          %h5 Sponsors
          
          %div{:class => 'mt20 center'}
            - link_to 'http://pragmaticstudio.com/' do
              = image_tag '/images/content/studio-logo.png', :class => 'nobor', :alt => 'The Pragmatic Studio'
            %p
              Specializing in hands-on training for developers, taught by 
              pragmatic authors and experts. Offering both private courses 
              at your location on your schedule, and public courses on the 
              more popular topics.
            %p
              Offering top developer training in iPhone SDK, Ruby on Rails, Advanced Ruby, 
              Advanced Rails, Erlang in Practice, ExpressionEngine, Objective-C & Cocoa, Ruby,
              Transitioning to Git, and Test-Driven Development with Rails.
          
          %div{:class => 'mt30 center'}
            - link_to 'http://www.pragprog.com/' do
              = image_tag '/images/content/pragbook-logo.jpg', :class => 'nobor', :alt => 'The Pragmatic Bookshelf'
            %p{:style => 'padding: 0 5px;'}
              The Pragmatic Programmers is an agile publishing and training company. We're here 
              because we want to improve the lives of developers. We do this by creating timely, 
              practical books and working with the Pragmatic Studio to create the best developer 
              training there is.
            %p
              The Pragmatic Bookshelf offers books and video titles in the following categories: Career Development, 
              Cascading Style Sheets (CSS), Design and Testing, Facets of Ruby, Geographic 
              Information Systems, Introduction to Programming, iPhone Programming, Java / JVM,
              Languages / Frameworks, Mac Programming, Mobile Programming, Programming Tools, and Web 2.0

        #affiliations{:class => 'mt30 center'}
          %h5 Affiliations
          
          - link_to 'http://hrtc.org/' do
            = image_tag '/images/content/hrtc_logo.png', :class => 'nobor', :alt => 'Hampton Roads Technology Council'
          <br/>
          - link_to 'http://www.viget.com/' do
            = image_tag 'content/viget_labs_logo.png', :width => 120, :class => '', :alt => 'Viget Labs Logo'
          - link_to 'http://mobelux.com/' do
            = image_tag 'content/mobelux_logo.png', :width => 130, :class => '', :alt => 'Mobelux Logo'

    #footer
      = bottom_nav
      %br
      %div{:class => 'mt5'}
        Organized by the local Hampton Roads Ruby/Cocoa Users Groups. Info at 757rb.org and 757objc.org





