!!! strict

%html{html_attrs}

  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    = stylesheet_link_tag :all, :recursive => true
    = javascript_include_tag 'prototype', 'effects', 'builder', 'application', :cache => 'studio'
    = javascript_tag 'Builder.dump();'
  
  %body

    #masthead
      #brick_tile
        #brick_main
      #nav_tile
      #masthead_cntarea
        #masthead_cnt
          #logo
          #event_info
            On <strong>November 5th, 2009</strong> Hampton Roads' premier learning and network 
            event for software developers, interactive agencies, and technology entrepreneurs will 
            be held at <strong>Grow Interactive, Norfolk</strong>.
          = top_nav
          #tiptop_email
            = mail_to 'info@757studio.org', 'EMAIL'
          #tiptop_other

    #content
    
      #nav_shadow
      #content_left
        - [:good,:bad,:indif].each do |fk|
          %div{:class => "flash_#{fk}", :style => "display:#{flash[fk].blank? ? 'none' : 'block'};"}
            %span= flash[fk]
        = yield
      
      #content_right
      
        #rsvp_stuff{:style => "display:#{current_rsvp && current_rsvp.reserved? ? 'none' : 'block'};"}
          #rsvp_button{:style => "display:#{current_rsvp && !current_rsvp.reserved? ? 'none' : 'block'};"}
          .flash_indif{:style => "display:#{current_rsvp && !current_rsvp.reserved? ? 'block' : 'none'};", :id => 'rsvp_flash_indif'}
            Please verify your reservation by clicking the link contained in 
            the email we sent to you at: <strong id="your_rsvp_email">
            = current_rsvp.try(:email)
            </strong>
            - if current_rsvp
              %div{:class => 'mt5 right'}
                = link_to '[clear]', clear_rsvp_path(current_rsvp), :method => :put
          #rsvp_text
            Space is limited to 55 seats and<br/>
            is first come, first served.<br/> 
            RSVP now and reserve yours!
          #rsvp_form{:style => 'display:none;'}
            .flash_bad{:style => 'display:none;', :id => 'rsvp_flash_bad'}
            - form_for @rsvp do |f|
              %table.form_table
                %tr
                  %th Name
                  %td= f.text_field :name
                %tr
                  %th Company
                  %td= f.text_field :company
                %tr
                  %th Email
                  %td= f.text_field :email
                %tr
                  %th Attendees
                  %td= f.select :attendees, Rsvp::ATTENDEE_RANGE
                %tr
                  %th
                  %td{:class => 'vmiddle_all'}
                    = submit_tag 'RSVP Now', :id => 'rsvp_submit'
                    %input{:type => 'button', :value => 'Cancel', :id => 'rsvp_cancel'}
                    = image_tag '/images/layout/loading_invert.gif', :id => 'rsvp_loading', :style => 'display:none;'
        
        #schedule
          %h5 Schedule
          = render_schedule(false)
        
        #sponsors
          %h5 Sponsors

    #footer
      = bottom_nav
      %br
      %div{:class => 'mt5'}
        Organized by the local Hampton Roads Ruby/Cocoa Users Groups. Info at 757rb.org and 757objc.org





